manifest {
    homePage = 'https://github.com/LanguageMachines/PICCL'
    description = 'PICCL'
    mainScript = 'ticcl.nf'
}

profiles {
    standard {
        process.$indexer.cpus = Runtime.runtime.availableProcessors()
        process.$resolver.cpus = Runtime.runtime.availableProcessors()
        process.$rank.cpus = Runtime.runtime.availableProcessors()
        process.$foliacorrect.cpus = Runtime.runtime.availableProcessors()
    }
}

