manifest {
    homePage = 'https://github.com/LanguageMachines/PICCL'
    description = 'PICCL'
    mainScript = 'ticcl.nf'
}

process.$indexer.cpus = Runtime.runtime.availableProcessors()
process.$resolver.cpus = Runtime.runtime.availableProcessors()
process.$rank.cpus = Runtime.runtime.availableProcessors()
process.$foliacorrect.cpus = Runtime.runtime.availableProcessors()

process.$frog_original.cpus = 1
process.$modernize.cpus = Runtime.runtime.availableProcessors()
process.$frog_modernized.cpus = 1

